<div class='col-lg-4 col-lg-offset-4 bsa jumbotron'>
	<%= link_to "Review previous posts", {action: "show"} , {class: 'btn btn-primary col-lg-offset-3' } %>&#160;&#160;&#160;
	<br>
	<br>
	<br>
	<%= link_to "Create a new post", {action: "new"} , {class: 'btn btn-danger col-lg-offset-3'} %>&#160;&#160;&#160;
	<br>
	<br>
	<br>
	<%= link_to "Create a live news", {action: "live_news"} , {class: 'btn btn-danger col-lg-offset-3'} %>&#160;&#160;&#160;
</div>